<div class="container mt-3">
  <p headerFont>User lists</p>
  <div class="d-flex justify-content-end">
    <button (click)="addUser()" mat-flat-button color="primary">
      <mat-icon class="mx-1">person_add</mat-icon> Add User
    </button>
  </div>
  <div *ngIf="(users$ | async) !== null" class="table-responsive">
    <table mat-table [dataSource]="users$" class="table table-striped">
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef>Full Name</th>
        <td mat-cell *matCellDef="let user" class="pt-2">
          {{ user.name | fullname : user.surname }}
        </td>
      </ng-container>
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef>Surname</th>
        <td mat-cell *matCellDef="let user" class="pt-2">{{ user.surname }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user" class="pt-2">{{ user.email }}</td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let user" class="pt-2">{{ user.gender }}</td>
      </ng-container>
      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef>Birthdate</th>
        <td mat-cell *matCellDef="let user" class="pt-2">
          {{ user.birthdate | date : "dd/MM/YYYY" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="admin">
        <th mat-header-cell *matHeaderCellDef>Profile</th>
        <td mat-cell *matCellDef="let user" class="pt-2">
          <span class="badge bg-info">{{ user.type | titlecase }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user" class="pt-2">
          <button
            (click)="viewUser(user.id)"
            mat-mini-fab
            class="mx-1 bg-primary text-white"
          >
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button
            (click)="editUser(user.id)"
            mat-mini-fab
            color="accent"
            class="mx-1"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="deleteUser(user)"
            mat-mini-fab
            color="warn"
            class="mx-1"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<div *ngIf="(loading$ | async) === true" class="spinner-container">
  <div id="circle-spinner"></div>
</div>
