<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="px-4">
      <img
        src="../../../../assets/images/logo.svg"
        alt="Logo imagen"
        width="40px"
        height="40px"
      />
    </mat-toolbar>
    <mat-nav-list class="px-2">
      <button
        mat-list-item
        routerLink="/students"
        routerLinkActive="router-link-active"
      >
        Students
      </button>
      <button
        *ngIf="currentUser.userInfo?.type == 'admin'"
        mat-list-item
        routerLink="/users"
        routerLinkActive="router-link-active"
      >
        Users
      </button>
      <button
        mat-list-item
        routerLink="/courses"
        routerLinkActive="router-link-active"
      >
        Courses
      </button>
      <button
        mat-list-item
        routerLink="/commissions"
        routerLinkActive="router-link-active"
      >
        Commissions
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="d-flex w-100 justify-content-end">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon mat-list-item>menu</mat-icon>
        </button>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-mini-fab
          color=""
          (click)="logout()"
        >
          <mat-icon mat-list-item>exit_to_app</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!--? Anothers pages -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
