<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <form
            class="requires-validation"
            [formGroup]="formUser"
            (ngSubmit)="addUser()"
          >
            <div class="col-md-12">
              <input
                class="form-control"
                [ngClass]="formUser.get('fullname')?.valid ? ' is-valid' : ''"
                [ngClass]="
                  formUser.get('fullname')?.touched &&
                  formUser.get('fullname')?.invalid
                    ? 'is-invalid'
                    : ''
                "
                type="text"
                name="name"
                placeholder="Full Name"
                formControlName="fullname"
              />
              <div
                *ngIf="
                  formUser.get('fullname')?.touched &&
                  formUser.get('fullname')?.valid
                "
                class="text-success"
              >
                Username field is valid!
              </div>

              <small
                *ngIf="formUser.get('fullname')?.touched && formUser.get('fullname')?.errors?.['required']"
                class="text-danger"
              >
                Username field cannot be blank!
              </small>
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                [ngClass]="
                  formUser.get('email')?.touched && formUser.get('email')?.valid
                    ? 'form-control is-valid'
                    : ''
                "
                [ngClass]="
                  formUser.get('email')?.touched &&
                  formUser.get('email')?.invalid
                    ? 'is-invalid'
                    : ''
                "
                type="email"
                name="email"
                placeholder="E-mail Address"
                formControlName="email"
              />
              <small
                *ngIf="
                  formUser.get('email')?.touched && formUser.get('email')?.valid
                "
                class="text-success"
              >
                Email field is valid!
              </small>
              <small
                *ngIf="formUser.get('email')?.touched && formUser.get('email')?.errors?.['required']"
                class="text-danger"
              >
                Email field cannot be blank!
              </small>
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                [ngClass]="formUser.get('password')?.valid ? 'is-valid' : ''"
                [ngClass]="
                  formUser.get('password')?.touched &&
                  formUser.get('password')?.invalid
                    ? 'is-invalid'
                    : ''
                "
                type="password"
                name="password"
                placeholder="Password"
                formControlName="password"
              />
              <small
                *ngIf="
                  formUser.get('password')?.touched &&
                  formUser.get('password')?.valid
                "
                class="text-success"
                >Password field is valid!</small
              >
              <small
                *ngIf="formUser.get('password')?.touched && formUser.get('password')?.errors?.['required']"
                class="text-danger"
              >
                Password field cannot be blank!
              </small>
            </div>

            <div class="col-md-12 mt-3">
              <label class="mb-3 mr-3" for="gender">Gender: </label>

              <input
                type="radio"
                class="btn-check"
                name="gender"
                formControlName="gender"
                value="male"
                id="male"
              />
              <label class="btn btn-sm btn-outline-primary" for="male"
                >Male</label
              >

              <input
                type="radio"
                class="btn-check"
                name="gender"
                formControlName="gender"
                value="female"
                id="female"
                autocomplete="off"
              />
              <label class="btn btn-sm btn-outline-primary" for="female"
                >Female</label
              >

              <input
                type="radio"
                class="btn-check"
                name="gender"
                formControlName="gender"
                value="other"
                id="other"
                autocomplete="off"
              />
              <label class="btn btn-sm btn-outline-primary" for="other"
                >Other</label
              >
              <small
                *ngIf="
                  formUser.get('gender')?.touched &&
                  formUser.get('gender')?.valid
                "
                class="text-success mv-up"
                >You selected a gender!</small
              >
              <small
                *ngIf="formUser.get('gender')?.touched && formUser.get('gender')?.errors?.['required']"
                class="text-danger mv-up"
                >Please select a gender!</small
              >
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                [ngClass]="formUser.get('birthdate')?.valid ? 'is-valid' : ''"
                [ngClass]="
                  formUser.get('birthdate')?.touched &&
                  formUser.get('birthdate')?.invalid
                    ? 'is-invalid'
                    : ''
                "
                type="date"
                name="birthdate"
                placeholder="dd/mm/Yyyy"
                formControlName="birthdate"
              />
              <small
                *ngIf="
                  formUser.get('birthdate')?.touched &&
                  formUser.get('birthdate')?.valid
                "
                class="text-success"
                >Birthdate field is valid!</small
              >
              <small
                *ngIf="formUser.get('birthdate')?.touched && formUser.get('birthdate')?.errors?.['required']"
                class="text-danger"
              >
                Birthdate field cannot be blank!
              </small>
            </div>

            <div class="col-md-12 mt-3">
              <div class="form-check">
                <label class="form-check-label">Is Admin? </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  ngValue="true"
                  id="invalidCheck"
                  formControlName="admin"
                />
              </div>
            </div>

            <div class="form-button mt-3">
              <button id="submit" type="submit" class="btn btn-primary w-100">
                <i class="fa fa-user-plus mx-2"></i>Add user
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<pre>
    {{ formUser.value | json }}
</pre>
