<div class="form-body mt-4">
  <button class="btn btn-outline-primary mx-5" (click)="back()">Back</button>
  <div class="row container">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <p headerFont>{{ tittle }} commission</p>
          <div *ngIf="tittle !== 'Consult'" class="d-flex align-items-center">
            <select
              class="form-select mt-0"
              [ngClass]="
                commissionForm.get('student_id')?.valid ? 'is-valid' : ''
              "
              [ngClass]="
                commissionForm.get('student_id')?.touched &&
                commissionForm.get('student_id')?.invalid
                  ? 'is-invalid'
                  : ''
              "
              name="student_id"
              placeholder="Student's name"
              [(ngModel)]="indexSelected"
            >
              <option selected disabled>Student's name</option>
              <option
                *ngFor="let student of students$"
                value="{{ student.id }}"
              >
                {{ transformValueName(student.id) }}
              </option>
            </select>
            <button
              mat-mini-fab
              color="primary"
              class="mx-2"
              (click)="addStudentEnrolled(indexSelected)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <form
            class="requires-validation"
            [formGroup]="commissionForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="col-md-12">
              <div
                *ngIf="
                  commissionForm.get('student_id')?.touched &&
                  commissionForm.get('student_id')?.valid
                "
                class="text-success"
              >
                Student field is valid!
              </div>

              <small
                *ngIf="commissionForm.get('student_id')?.touched && commissionForm.get('student_id')?.errors?.['required']"
                class="text-danger"
              >
                Student field cannot be blank!
              </small>
            </div>
            <div class="col-md-12">
              <select
                class="form-select"
                [ngClass]="
                  commissionForm.get('enrolled_course_id')?.valid
                    ? 'is-valid'
                    : ''
                "
                [ngClass]="
                  commissionForm.get('enrolled_course_id')?.touched &&
                  commissionForm.get('enrolled_course_id')?.invalid
                    ? 'is-invalid'
                    : ''
                "
                name="enrolled_course_id"
                placeholder="Enrolled course"
                formControlName="enrolled_course_id"
              >
                <option selected disabled>Course's name</option>
                <option *ngFor="let course of courses$" value="{{ course.id }}">
                  {{ course.name }}
                </option>
              </select>

              <div
                *ngIf="
                  commissionForm.get('enrolled_course_id')?.touched &&
                  commissionForm.get('enrolled_course_id')?.valid
                "
                class="text-success"
              >
                Enrolled course field is valid!
              </div>

              <small
                *ngIf="commissionForm.get('enrolled_course_id')?.touched && commissionForm.get('enrolled_course_id')?.errors?.['required']"
                class="text-danger"
              >
                Enrolled course field cannot be blank!
              </small>
            </div>
            <div class="col-md-12 mt-3">
              <input
                class="form-control"
                [ngClass]="
                  commissionForm.get('enrollment_date')?.valid ? 'is-valid' : ''
                "
                [ngClass]="
                  commissionForm.get('enrollment_date')?.touched &&
                  commissionForm.get('enrollment_date')?.invalid
                    ? 'is-invalid'
                    : ''
                "
                type="date"
                name="enrollment_date"
                placeholder="dd/mm/Yyyy"
                formControlName="enrollment_date"
              />
              <small
                *ngIf="
                  commissionForm.get('enrollment_date')?.touched &&
                  commissionForm.get('enrollment_date')?.valid
                "
                class="text-success"
                >Enrollment date field is valid!</small
              >
              <small
                *ngIf="commissionForm.get('enrollment_date')?.touched && commissionForm.get('enrollment_date')?.errors?.['required']"
                class="text-danger"
              >
                Enrollment date field cannot be blank!
              </small>
            </div>

            <div class="form-button mt-3" *ngIf="tittle !== 'Consult'">
              <button
                [disabled]="buttonDisable || commissionForm.invalid"
                id="submit"
                type="submit"
                class="btn btn-primary w-100"
              >
                <i class="fa fa-plus mx-2"></i>{{ textButton }} commission
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="form-content mx-4" *ngIf="studentsEnrrolled.length !== 0">
        <div class="col-md-12 m-t-20">
          <div class="card custom-card-shadow">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Fullname</th>
                    <th *ngIf="tittle !== 'Consult'" class="text-center fit">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of studentsEnrrolled">
                    <td>{{ student }}</td>
                    <td>{{ transformValueName(student) }}</td>
                    <td *ngIf="tittle !== 'Consult'" class="text-center fit">
                      <button
                        mat-mini-fab
                        color="warn"
                        class="mx-2"
                        (click)="deleteStudentEnrrolled(student)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
