<div class="container-fluid my-3">
  <button class="btn btn-primary" (click)="agregarUsuario()">
    <i class="fa fa-user"></i>Add course
  </button>
</div>

<div *ngIf="(courses$ | async) !== null" class="container-fluid row">
  <div
    *ngFor="let course of courses$ | async"
    class="card bg-secondary mb-3 col-md-3 mx-3"
  >
    <div class="card-body">
      <div class="card-title text-primary">
        <b>{{ course.name }}</b>
      </div>
      <small class="f-500">Comision {{ course.commission }}</small>
      <p><i class="fa fa-calendar mx-2"></i>{{ course.days | join }}</p>
      <h4 class="card-title">
        <i class="fa fa-clock mx-2"></i> {{ course.schedule }}
      </h4>
      <button class="btn btn-primary w-100">Go to course</button>
    </div>
  </div>
</div>
<div *ngIf="(courses$ | async) === null" class="spinner-container">
  <div id="circle-spinner"></div>
</div>
