<h4 mat-dialog-title headerFont>{{ labelDiaog }}</h4>
<div mat-dialog-content class="form-items">
  <form
    class="requires-validation"
    [formGroup]="formUser"
    (ngSubmit)="handleSubmitUser($event)"
  >
    <div class="col-md-12">
      <input
        class="form-control"
        [ngClass]="formUser.get('name')?.valid ? ' is-valid' : ''"
        [ngClass]="
          formUser.get('name')?.touched && formUser.get('name')?.invalid
            ? 'is-invalid'
            : ''
        "
        type="text"
        name="name"
        placeholder="John"
        formControlName="name"
      />
      <div
        *ngIf="formUser.get('name')?.touched && formUser.get('name')?.valid"
        class="text-success"
      >
        Name field is valid!
      </div>

      <small
        *ngIf="formUser.get('name')?.touched && formUser.get('name')?.errors?.['required']"
        class="text-danger"
      >
        Name field cannot be blank!
      </small>
    </div>

    <div class="col-md-12">
      <input
        class="form-control"
        [ngClass]="formUser.get('surname')?.valid ? ' is-valid' : ''"
        [ngClass]="
          formUser.get('surname')?.touched && formUser.get('surname')?.invalid
            ? 'is-invalid'
            : ''
        "
        type="text"
        name="name"
        placeholder="Connor"
        formControlName="surname"
      />
      <div
        *ngIf="
          formUser.get('surname')?.touched && formUser.get('surname')?.valid
        "
        class="text-success"
      >
        Surname field is valid!
      </div>

      <small
        *ngIf="formUser.get('surname')?.touched && formUser.get('surname')?.errors?.['required']"
        class="text-danger"
      >
        Surname field cannot be blank!
      </small>
    </div>

    <div class="col-md-12">
      <input
        class="form-control"
        [ngClass]="
          formUser.get('email')?.touched && formUser.get('email')?.valid
            ? 'form-control is-valid'
            : ''
        "
        [ngClass]="
          formUser.get('email')?.touched && formUser.get('email')?.invalid
            ? 'is-invalid'
            : ''
        "
        type="email"
        name="email"
        placeholder="jconnor@terminator.com"
        formControlName="email"
      />
      <small
        *ngIf="formUser.get('email')?.touched && formUser.get('email')?.valid"
        class="text-success"
      >
        Email field is valid!
      </small>
      <small
        *ngIf="formUser.get('email')?.touched && formUser.get('email')?.errors?.['required']"
        class="text-danger"
      >
        Email field cannot be blank!
      </small>
      <small
        *ngIf="formUser.get('email')?.touched && formUser.get('email')?.errors?.['pattern']"
        class="text-danger"
      >
        Email field is invalid!
      </small>
    </div>

    <div class="col-md-12 mt-3">
      <label class="mb-3 mr-3" for="gender">Gender: </label>

      <input
        type="radio"
        class="btn-check"
        name="gender"
        formControlName="gender"
        value="Male"
        id="male"
      />
      <label class="btn btn-sm btn-outline-primary" for="male">Male</label>

      <input
        type="radio"
        class="btn-check"
        name="gender"
        formControlName="gender"
        value="Female"
        id="female"
        autocomplete="off"
      />
      <label class="btn btn-sm btn-outline-primary" for="female">Female</label>

      <input
        type="radio"
        class="btn-check"
        name="gender"
        formControlName="gender"
        value="Other"
        id="other"
        autocomplete="off"
      />
      <label class="btn btn-sm btn-outline-primary" for="other">Other</label>
      <small
        *ngIf="formUser.get('gender')?.touched && formUser.get('gender')?.valid"
        class="text-success mv-up"
        >You selected a gender!</small
      >
      <small
        *ngIf="formUser.get('gender')?.touched && formUser.get('gender')?.errors?.['required']"
        class="text-danger mv-up"
        >Please select a gender!</small
      >
    </div>

    <div class="col-md-12">
      <input
        class="form-control"
        [ngClass]="formUser.get('birthdate')?.valid ? 'is-valid' : ''"
        [ngClass]="
          formUser.get('birthdate')?.touched &&
          formUser.get('birthdate')?.invalid
            ? 'is-invalid'
            : ''
        "
        type="date"
        name="birthdate"
        placeholder="dd/mm/Yyyy"
        formControlName="birthdate"
      />
      <small
        *ngIf="
          formUser.get('birthdate')?.touched && formUser.get('birthdate')?.valid
        "
        class="text-success"
        >Birthdate field is valid!</small
      >
      <small
        *ngIf="formUser.get('birthdate')?.touched && formUser.get('birthdate')?.errors?.['required']"
        class="text-danger"
      >
        Birthdate field cannot be blank!
      </small>
    </div>

    <div class="col-md-12 mt-3">
      <div class="form-check">
        <label class="form-check-label">Is this user an administrator? </label>
        <input
          class="form-check-input"
          type="checkbox"
          ngValue="true"
          id="invalidCheck"
          formControlName="admin"
        />
      </div>
    </div>
    <div class="form-button mt-3 d-flex justify-content-end">
      <button
        (click)="handleCancel($event)"
        mat-stroked-button
        color="primary"
        class="px-4"
      >
        Cancel
      </button>
      <button
        [disabled]="!formUser.valid"
        type="submit"
        mat-flat-button
        color="primary"
        class="px-4 mx-2"
      >
        {{ labelDiaog }}
      </button>
    </div>
  </form>
</div>
